<app-navbar></app-navbar>
<div class="container">
    <h4>Ordem De Serviço</h4>
    <!-- <div *ngIf="permission != 'BASIC' " class=" float-left buttonAdd col-md-4 d-flex justify-content-end">
      <button type="button" class="btn btn-danger" routerLink="/new-quotes">
        <i class="fas fa-plus"></i>
        New Quote
      </button>
    </div> -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Cliente</th>
                <th>Data do Serviço</th>
                <th>Data de Pagamento</th>
                <th>Valor</th>
                <th>Descrição</th>
                <th>Forma de Pagamento</th>
                <th>Status</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.cliente}}</td>
                <td>{{order.data}}</td>
                <td>{{order.data_pag | date}}</td>
                <td>{{order.valor | currency :'BRL'}}</td>
                <td>{{order.desc}}</td>
                <td>{{order.form_pag}}</td>
                <td>Status</td>
                <td><span [routerLink]="['/ordem',order.id]" routerLinkActive="router-link-active"><i class="fas fa-cog"></i></span></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-secondary" [routerLink]="['../nova-ordem']" routerLinkActive="router-link-active">+ Nova ordem</button>
    <button class="btn btn-light" (click)="obterInventario()">Obter Inventario</button>
</div>

<footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.impacta.edu.br/"> Mente Blindada Desenvolvimento!</a>
    </div>
</footer>