<app-navbar></app-navbar>

<div style="margin-top: 3%;" class="card container" style="padding: 20px">
    <div class="card-body">
        <form [formGroup]="formNew" (ngSubmit)="registrarProduto()">
            <div class="card" style="padding: 30px">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="NomeProd">Nome Produto</label>
                        <input class="form-control" formControlName="nome_Produto" type="text">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="dinheiro">Valor Custo</label>
                        <input class="form-control" formControlName="valor_Custo" type="text">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="NomeProd">Valor Venda</label>
                        <input class="form-control" formControlName="valor_Venda" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">

                        <label for="NomeProd">Quantidade</label>
                        <input class="form-control" formControlName="qtd_Produto" type="number">
                    </div>
                    <div class="form-group col-md-4">

                        <label for="NomeProd">Descrição</label>
                        <input class="form-control" formControlName="descricao_Produto" type="text">
                    </div>
                    <div class="form-group col-md-4">

                        <label for="NomeProd">Fornecedor</label>
                        <input class="form-control" formControlName="id_FornecedorProduto" type="number">
                    </div>
                </div>
                <input [disabled]="formNew.invalid" class="btn btn-secondary" type="submit">

            </div>

        </form>
    </div>

    <table class="table table-sm table-bordered table-responsive ">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Custo</th>
                <th scope="col">Venda</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Descrição do Produto</th>
                <th scope="col">Fornecedor</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let produto of produtos">

                <td>{{produto.nome_Produto}}</td>
                <td>{{produto.valor_Custo}}</td>
                <td>{{produto.valor_Venda}}</td>
                <td>{{produto.qtd_Produto}}</td>
                <td>{{produto.descricao_Produto}}</td>
                <td>{{produto.id_FornecedorProduto}}</td>
                <td><span (click)="deleteProduto(produto.id_Produto,produto.qtd_Produto)"><i class="fas fa-trash-alt"></i></span></td>
            </tr>
        </tbody>

    </table>
</div>

<footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.impacta.edu.br/"> Mente Blindada Desenvolvimento!</a>
    </div>
</footer>