<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form form (ngSubmit)="login()" [formGroup]="loginForm">
                            <h3 class="text-center text-info">Bem Vindo a MRT!</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Usuário:</label><br>
                                <input formControlName="username" class="form-control" id="user" type="text">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Senha:</label><br>
                                <input formControlName="password" class="form-control" id="password" type="password">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-secondary" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.impacta.edu.br/"> Mente Blindada Desenvolvimento!</a>
    </div>
</footer>