<app-navbar></app-navbar>


<form action="" [formGroup]="formNew">


    <h1 class="container"> Ordem de Serviço : {{IdOrdem}}</h1>
    <div class="container card">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="preco">Preço:</label>
                <input class="form-control" formControlName="preco" type="text">
            </div>
            <div class="form-group col-md-4">
                <label for="preco">Descrição:</label>
                <input class="form-control" formControlName="preco" type="text">
            </div>
            <div class="form-group col-md-4">
                <label for="preco">Forma de Pagamento:</label>
                <input class="form-control" formControlName="preco" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="preco">Forma de Pagamento:</label>
                <select class="form-control">
                        <option  value="cartao">Cartao</option>
                        <option  value="dinheiro">Dinheiro</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <button class="btn btn-secondary col-md-3">OK</button>
        </div>
        <div class="form-row">
            <button (click)="removerOrdem()" class="btn btn-danger col-md-3">Deletar Ordem</button>
        </div>
    </div>

</form>